.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://www.harrisoncarservice.com/assets/meeting.jpg');
  background-size: cover;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

.login-form {
  /* background-color: rgba(255, 255, 255, 0.8);  */
  background: linear-gradient(180deg, rgba(118, 121, 254, 1) 0%, rgba(179, 37, 238, 1) 100%);
  padding: 20px;
  border-radius: 10px;
}
.font-lg {
  font-size: 20px; 
  font-weight: bold;
}

.font-weight-bold{
  font-weight: 20px;
}

